<div class="accountUser">
  <div class="d-flex align-items-center gap-3">
    <div
      style="
        border-radius: 50%;
        background-color: var(--color-section-bg);
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <img
        src="assets/images/userVector.png"
        alt="user icon"
        width="20px"
        height="22px"
      />
    </div>

    <div *ngIf="account$ | async as account">
      <p
        style="
          color: var(--color-light-gray);
          font-size: 12px;
          font-weight: 500;
        "
      >
        Welcome back,
      </p>
      <p style="color: var(--color-dark); font-size: 14px; font-weight: bold">
        {{ account.user.firstName }}
      </p>
    </div>
  </div>
</div>
<div class="account-container">
  <nav>
    <ul class="list-group">
      <li class="list-group-item">
        <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="list-group-item">
        <a routerLink="orders" routerLinkActive="active">Orders</a>
      </li>
      <li class="list-group-item">
        <a routerLink="addresses" routerLinkActive="active">Addresses</a>
      </li>
      <li class="list-group-item">
        <a routerLink="details" routerLinkActive="active">Account Details</a>
      </li>
      <li class="list-group-item">
        <span (click)="handleLogout()">Logout</span>
      </li>
    </ul>
  </nav>
  <div style="width: 100%">
    <router-outlet></router-outlet>
  </div>
</div>
