<div class="cart-wrapper">
    <div class="container">
        <div class="row">


            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item" style="color: #9CA3AF; size: 12px;">Home</li>
                  <li class="breadcrumb-item active" aria-current="page">Cart</li>
                </ol>   
              </nav>
         
              <div class="container">
                <div class="empty-cart-container">
                    <i class="fa-solid fa-box-open  empty-cart-icon mb-4"></i>
                    <div class="alert alert-white alert-dismissible fade show d-flex justify-content-center align-items-center border cart-alert" role="alert">
                        <strong class="empty-cart-text mt-3">YOUR CART IS CURRENTLY EMPTY.</strong> 
                    </div>
                    <a href="shop.html" class="btn btn-dark shop-btn mt-3">Return to Shop</a>
                </div>
            </div>
                 

                   
                    
                </div>
            </div>
        </div>
   
