<section class="storeProducts">
  <div class="d-flex justify-content-between align-content-center">
    <h2>Porducts</h2>
    <button class="btn newProduct" [routerLink]="['new']">New</button>
  </div>
  <table
    class="table table-bordered"
    *ngIf="products$ | async as products; else loading"
  >
    <p *ngIf="products.length == 0">No products found</p>

    <thead *ngIf="products.length > 0">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Stock</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="products.length > 0">
      <tr *ngFor="let product of paginatedProducts">
        <td>
          <img
            [src]="'http://localhost:8088' + product.images[0]"
            alt="Product Image"
            style="width: 50px; height: auto"
          />
        </td>
        <td>
          <span>{{ product.name }}</span>
        </td>
        <td>
          <span>{{ product.stock }}</span>
        </td>
        <td>
          <span>{{ product.price | currency }}</span>
        </td>

        <td class="d-flex justify-content-center align-items-center">
          <button
            type="button"
            class="btn"
            [routerLink]="['edit', product._id]"
          >
          <i class="fas fa-edit"></i>
          </button>
          |
          <button
            type="button"
            class="btn"
            (click)="openDeleteModal(product._id)"
          >
          <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <div *ngIf="products.length <= 0">
      <p>No products found.</p>
      <button class="btn">
        <a routerLink="/shop">Return to shop</a>
      </button>
    </div>
  </table>
  <div *ngIf="totalPages > 1" class="pagination-container d-flex justify-content-center align-items-center">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="setPage(currentPage - 1)" >Previous</a>
      </li>

      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
        <a
          class="page-link"

          (click)="setPage(i + 1)"
          [class.active]="currentPage === i + 1"
        >
          {{ i + 1 }}
        </a>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="setPage(currentPage + 1)" >Next</a>
      </li>
    </ul>
  </div>
  <ng-template #loading>
    <p>Loading products...</p>
  </ng-template>
</section>
<app-confirm-delete-modal
  (deleteConfirmed)="deleteProduct($event)"
  (closeModal)="closeModal()">
</app-confirm-delete-modal>
