.addresses p {
  font-size: 14px;
  display: inline-block;
}
a {
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: none;
}
.addresses h3 {
  font-size: 18px;
}
.newAddress {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-left: 0.5rem;
}
button {
  background-color: var(--color-primary);
}
button:hover {
  background-color: var(--color-primary);
  opacity: 0.9;
}
