<div class="container my-3">
  <ul class="nav nav-underline" style="border-bottom: 1px solid var(--color-light-gray-border-2);">
    <li class="nav-item">
      <a 
        class="nav-link" 
        [class.active]="isDescriptionClicked"
        [class.unClicked]="!isDescriptionClicked"
        (click)="viewDescription()" 
        style="cursor: pointer;">
        Description
      </a>
    </li>
    <li class="nav-item">
      <a 
        class="nav-link" 
        [class.active]="isReviewClicked"
        [class.unClicked]="!isReviewClicked"
        (click)="viewReview()" 
        style="cursor: pointer;">
        Reviews ({{ product?.reviews?.length || 0 }})
      </a>
    </li>
  </ul>

  <div *ngIf="!product" class="text-center py-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="product">
    <div *ngIf="isDescriptionClicked" class="pt-4">
      <p>{{ product?.description }}</p>
    </div>

    <div *ngIf="isReviewClicked">
      <div *ngIf="product.reviews && product.reviews.length > 0" class="pt-4">
        <div *ngFor="let review of product?.reviews; let i = index" class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Review #{{ i + 1 }}</h5>
            <p class="card-text">{{ review.content }}</p>
            <p class="card-text">Rating: {{ review.rating }} 🌟</p>
          </div>
        </div>
      </div>
      <div *ngIf="!product?.reviews || product?.reviews?.length === 0" class="text-center pt-4">
        <p>No reviews available for this product.</p>
      </div>
    </div>
  </div>
</div>