<h1>Orders</h1>

<table class="table table-bordered" *ngIf="storeOrders$ | async as orders">
  <thead *ngIf="orders.length > 0">
    <p *ngIf="orders.length == 0">No orders found</p>
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Total</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="orders.length > 0">
    <tr *ngFor="let order of paginatedOrders">
      <th scope="row">
        <span class="orderNumber">#{{ order._id | slice : 0 : 5 }}...</span>
      </th>
      <td>
        <span>{{ order.createdAt | date : "MMM d, y, h:mm a" }}</span>
      </td>
      <td>
        <select
          [(ngModel)]="order.status"
          (ngModelChange)="onStatusChange(order._id, order.status)"
          class="form-control"
        >
          <option *ngFor="let status of statusOptions" [value]="status">
            {{ status | titlecase }}
          </option>
        </select>
      </td>
      <td>
        <span>{{ order.totalOrderPrice | currency }}</span>
      </td>
      <td>
        <button
          type="button"
          class="btn"
          [routerLink]="['/store/orders', order._id]"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>

  <ng-template #noOrders>
    <div *ngIf="orders.length === 0">
      <p>No orders found.</p>
      <button class="btn">
        <a routerLink="/shop">Return to shop</a>
      </button>
    </div>
  </ng-template>
</table>
<div class="d-flex justify-content-center align-items-center mt-4" *ngIf="totalPages > 1">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="setPage(currentPage - 1)" >Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
      <a
        class="page-link"

        (click)="setPage(i + 1)"
        [class.active]="currentPage === i + 1"
      >
        {{ i + 1 }}
      </a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="setPage(currentPage + 1)" >Next</a>
    </li>
  </ul>
</div>
