<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-secondary text-white">
        <div class="card-body text-center">
          <div class="mb-3">
            <img
              src="https://secure.gravatar.com/avatar/67efac1f6ba32f86f6b5218c4f5dd2e0?s=96&d=mm&r=g"
              alt="Profile"
              class="img-thumbnail bg-light mt-4"
              style="width: 100px"
            />
          </div>
          <h2 class="mb-3">{{ storeInfo.businessName }}</h2>
          <p><i class="fa fa-phone"></i> {{ storeInfo.phone }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-9 p-0">
      <div class="bg-image-container">
        <div class="content-overlay text-center"></div>
      </div>
    </div>
  </div>
</div>
