.login h1 {
  color: var(--color-dark);
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 15px;
}

.login label,
p {
  color: var(--color-dark);
  font-size: 13px;
  line-height: 19.5px;
}
input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0);
}
