<section
  class="register d-flex justify-content-center align-items-center"
  style="min-height: 70vh"
>
  <div class="card p-4" style="max-width: 480px; width: 100%; border: none">
    <h1 class="text-center">Register</h1>
    <p class="text-center">
      If you have an account, sign in with your phone or email address.
    </p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name *</label>
        <div class="input-group">
          <input
            id="firstName"
            type="text"
            class="form-control"
            formControlName="firstName"
            style="height: 48px"
          />
        </div>
        <div
          *ngIf="f['firstName'].touched && f['firstName'].invalid"
          class="alert alert-danger mt-2"
          role="alert"
        >
          <div *ngIf="f['firstName'].hasError('required')">
            First name is required.
          </div>
          <div *ngIf="f['firstName'].hasError('minlength')">
            First name must be at least 3 characters long.
          </div>
          <div *ngIf="f['firstName'].hasError('maxlength')">
            First name must be no more than 30 characters.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name *</label>
        <div class="input-group">
          <input
            id="lastName"
            type="text"
            class="form-control"
            formControlName="lastName"
            style="height: 48px"
          />
        </div>
        <div
          *ngIf="f['lastName'].touched && f['lastName'].invalid"
          class="alert alert-danger mt-2"
          role="alert"
        >
          <div *ngIf="f['lastName'].hasError('required')">
            Last name is required.
          </div>
          <div *ngIf="f['lastName'].hasError('minlength')">
            Last name must be at least 3 characters long.
          </div>
          <div *ngIf="f['lastName'].hasError('maxlength')">
            Last name must be no more than 30 characters.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email Address *</label>
        <div class="input-group">
          <input
            id="email"
            type="email"
            class="form-control"
            formControlName="email"
            style="height: 48px"
          />
        </div>
        <div
          *ngIf="f['email'].touched && f['email'].invalid"
          class="alert alert-danger mt-2"
          role="alert"
        >
          <div *ngIf="f['email'].hasError('required')">
            Email address is required.
          </div>
          <div *ngIf="f['email'].hasError('email')">
            Please enter a valid email address.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number *</label>
        <div class="input-group">
          <input
            id="phoneNumber"
            type="text"
            class="form-control"
            formControlName="phoneNumber"
            style="height: 48px"
          />
        </div>
        <div
          *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid"
          class="alert alert-danger mt-2"
          role="alert"
        >
          <div *ngIf="f['phoneNumber'].hasError('required')">
            Phone number is required.
          </div>
          <div *ngIf="f['phoneNumber'].hasError('pattern')">
            Please enter a valid phone number.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password *</label>
        <div class="input-group">
          <input
            id="password"
            type="password"
            class="form-control"
            formControlName="password"
            style="height: 48px"
          />
        </div>
        <div
          *ngIf="f['password'].touched && f['password'].invalid"
          class="alert alert-danger mt-2"
          role="alert"
        >
          <div *ngIf="f['password'].hasError('required')">
            Password is required.
          </div>
          <div *ngIf="f['password'].hasError('minlength')">
            Password must be at least 6 characters long.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="rePassword" class="form-label">Re-enter Password *</label>
        <div class="input-group">
          <input
            id="rePassword"
            type="password"
            class="form-control"
            formControlName="rePassword"
            style="height: 48px"
          />
        </div>
        <div
          *ngIf="f['rePassword'].touched && f['rePassword'].invalid"
          class="alert alert-danger mt-2"
          role="alert"
        >
          <div *ngIf="f['rePassword'].hasError('required')">
            Re-enter password is required.
          </div>
          <div *ngIf="f['rePassword'].hasError('rePasswordMatch')">
            Passwords do not match.
          </div>
        </div>
      </div>

      <div formGroupName="address">
        <div class="mb-3">
          <label for="address">Address</label>
          <div class="input-group">
            <input
              id="address"
              formControlName="address"
              class="form-control"
              style="height: 48px"
            />
          </div>
          <div
            *ngIf="
              registerForm.get('address')?.get('address')?.invalid &&
              registerForm.get('address')?.get('address')?.touched
            "
            class="alert alert-danger mt-2"
            role="alert"
          >
            Address is required and cannot exceed 255 characters.
          </div>
        </div>

        <div class="mb-3">
          <label for="city">City</label>
          <div class="input-group">
            <input
              id="city"
              formControlName="city"
              class="form-control"
              style="height: 48px"
            />
          </div>
          <div
            *ngIf="
              registerForm.get('address')?.get('city')?.invalid &&
              registerForm.get('address')?.get('city')?.touched
            "
            class="alert alert-danger mt-2"
            role="alert"
          >
            City is required and cannot exceed 100 characters.
          </div>
        </div>

        <div class="mb-3">
          <label for="country">Country</label>
          <div class="input-group">
            <input
              id="country"
              formControlName="country"
              class="form-control"
              style="height: 48px"
            />
          </div>
          <div
            *ngIf="
              registerForm.get('address')?.get('country')?.invalid &&
              registerForm.get('address')?.get('country')?.touched
            "
            class="alert alert-danger mt-2"
            role="alert"
          >
            Country is required and cannot exceed 100 characters.
          </div>
        </div>

        <div class="mb-3">
          <label for="zip">Zip</label>
          <div class="input-group">
            <input
              id="zip"
              formControlName="zip"
              class="form-control"
              style="height: 48px"
            />
          </div>
          <div
            *ngIf="
              registerForm.get('address')?.get('zip')?.invalid &&
              registerForm.get('address')?.get('zip')?.touched
            "
            class="alert alert-danger mt-2"
            role="alert"
          >
            Zip code should be 5-10 digits.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="role" class="form-label"
          >Are you a Seller or Customer? *</label
        >
        <div>
          <label class="d-block">
            <input type="radio" formControlName="role" value="seller" />
            Seller
          </label>
          <label>
            <input type="radio" formControlName="role" value="user" />
            Customer
          </label>
        </div>
        <div
          *ngIf="f['role'].touched && f['role'].invalid"
          class="alert alert-danger mt-2"
          role="alert"
        >
          <div *ngIf="f['role'].hasError('required')">
            Please select an option.
          </div>
        </div>
      </div>

      <div style="margin-bottom: 1rem; text-align: right; cursor: pointer">
        <span>
          <a
            routerLink="/login"
            style="color: var(--color--nice-blue); font-size: 13px"
            >Already have an account?</a
          >
        </span>
      </div>

      <div *ngIf="apiError?.length !== 0">
        <div
          *ngFor="let error of apiError.split(', ')"
          class="alert alert-danger mt-2"
          role="alert"
        >
          {{ error }}
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100"
        style="
          height: 48px;
          background-color: var(--color-primary);
          border: none;
        "
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </form>
  </div>
</section>
