.cart-wrapper {
    background-color: #ffffff;
    min-height: 100vh;
    padding: 40px 0;
}

.quantity-input {
    width: 60px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.summary-card {
    background: white;
    border-radius: 12px;
    position: sticky;
    top: 20px;
}


.quantity-btn {
    width: 28px;
    height: 28px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #f3f4f6;
    border: none;
    transition: all 0.2s;
}

.quantity-btn:hover {
    background: #e5e7eb;
}

.discount-badge {
    background: #dcfce7;
    color: #166534;
    font-size: 0.875rem;
    padding: 4px 8px;
    border-radius: 6px;
}
.btn-xl {
font-size: 14px;
width: 160px;
height:46px;

}
.form-control-xl{
width:300px;
height:46px;
border-width: 0.5px;
padding: 4px 8px;




}
.table-header {
color: #a2a5aa !important;
}

.alert-message{
    border: 1px solid #f8d7da;
    background-color: #fef2f2;
    padding: 20px;
    border-radius: 5px;
    color: #b91c1c;
}

.progress-bar {
    background-color: #b91c1c;

}
.btn-clear{

    font-size: 14px;
    width: 100px;
    height:46px;
    font-weight: 650;

}

.empty-cart-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.empty-cart-icon {
    font-size: 158px;
    color: #333;
}
.empty-cart-text {
    font-size: 20px;
    font-weight: bold;
    color: #dc3545;
}
.shop-btn {
    
    padding: 12px 20px;
    font-size: 18px;
}
.cart-alert{

    width: 760px;
    height: 61px;
    padding-top: 1px;
}
@media (max-width: 576px) {
    .empty-cart-text {
        font-size: 16px;
    }
    .cart-alert {
        max-width: 95%;
    }
}
.li{
    color: var(--color-primary);
}
.addressButton{

    background-color: var(--color-primary);
    color: white;
    font-size: 14px;
    width: 100px;
    height:46px;
    font-weight: 650;
    padding: 2px;
    display: flex;
    float: right;
}
.payment{
    color: white;
    width:200px;
    height:30px;
    font-size: 14px;
    font-weight: 650;
    padding: 7px;



}
.cancel{
    color:var(--color-primary);
  border-color:var(--color-primary); ;


}
.order-card{
background-color: #fffbfbfb;

}
.cancel:hover {
    background: #e5e7eb;
    color:var(--color-primary);

}
.modal-backdrop.show {
    z-index: 1040 !important;
}

#confirmModal {
    z-index: 1050 !important;
}

.modal-backdrop.show {
    z-index: 1049; /* Keep backdrop behind both modals */
  }
