.pagination-bar {
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-top: 20px;
    
  }
  
  .form-select {
    width: auto;
  }
  
  .btn {
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px 10px;
  }
  
  .btn.active {
    background-color: black;
    color: white;
  }