<div class="row my-5">
    <div class="col-md-4 my-2 rounded-4" *ngFor="let product of products; let i = index;">
      <div class="card" style="width: 18rem;">
        <img [src]="product.images[0]" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }} </h5>
          <p class="card-text">${{ product.price }}</p>
          <a href="#" class="btn btn-success mx-4" (click)="updateProduct($event, product._id)">Update</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
</div>
  