<footer>
  <div class="container">
    <div class="top-footer">
      <div class="row">
        <div class="col-6 col-md-3">
          <p
            style="
              font-size: 14px;
              font-weight: 600;
              color: var(--color-dark-2);
              line-height: 16.8px;
            "
          >
            Do You Need Help ?
          </p>
          <p
            style="
              color: var(--color-dark-gray);
              line-height: 19.5px;
              font-size: 13px;
            "
          >
            Autoseligen syr. Nek diarask fröbomba. Nör antipol kynoda nynat.
            Pressa fåmoska.
          </p>
          <div class="d-flex" style="margin-top: 30px; margin-bottom: 30px">
            <img
              src="assets/images/phone.png"
              alt="phone"
              width="28"
              height="28"
              class="me-3 mt-2"
            />
            <div>
              <div
                style="
                  font-size: 12px;
                  line-height: 18px;
                  color: var(--color-dark-2);
                  opacity: 0.6;
                "
              >
                Monday-Friday: 08am-9pm
              </div>
              <div
                style="
                  color: var(--color-dark-2);
                  font-size: 20px;
                  line-height: 30px;
                  font-weight: bold;
                "
              >
                0 800 300-353
              </div>
            </div>
          </div>
          <div class="d-flex" style="margin-top: 30px; margin-bottom: 30px">
            <img
              src="assets/images/list.png"
              alt="phone"
              width="28"
              height="28"
              class="me-3 mt-2"
            />

            <div
              style="max-width: 300px; word-wrap: break-word; overflow: hidden"
            >
              <div
                style="
                  font-size: 12px;
                  line-height: 18px;
                  color: var(--color-dark-2);
                  opacity: 0.6;
                "
              >
                Need help with your order?
              </div>
              <div
                style="
                  color: var(--color-dark-2);
                  font-size: 20px;
                  line-height: 30px;
                  font-weight: bold;
                "
              >
                infoexample.com
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-9">
          <div class="row">
            <div class="col-12 col-md-3">
              <p
                style="
                  font-size: 14px;
                  font-weight: 600;
                  color: var(--color-dark-2);
                  line-height: 16.8px;
                "
              >
                Make Money with Us
              </p>
              <ul class="list-unstyled">
                <li>
                  <a href=""> Sell on Grogin </a>
                </li>
                <li>
                  <a href=""> Sell Your Services on Grogin </a>
                </li>
                <li>
                  <a href=""> Sell on Grogin Business </a>
                </li>
                <li>
                  <a href=""> Sell Your Apps on Grogin </a>
                </li>
                <li>
                  <a href=""> Become an Affilate </a>
                </li>
                <li>
                  <a href=""> Advertise Your Products </a>
                </li>
                <li>
                  <a href=""> Sell-Publish with Us </a>
                </li>
                <li>
                  <a href=""> Become an Blowwe Vendor </a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-3">
              <p
                style="
                  font-size: 14px;
                  font-weight: 600;
                  color: var(--color-dark-2);
                  line-height: 16.8px;
                "
              >
                Let Us Help You
              </p>
              <ul class="list-unstyled">
                <li>
                  <a href=""> Accessibility Statement </a>
                </li>
                <li>
                  <a href=""> Your Orders </a>
                </li>
                <li>
                  <a href=""> Returns & Replacements </a>
                </li>
                <li>
                  <a href=""> Shipping Rates & Policies </a>
                </li>
                <li>
                  <a href=""> Refund and Returns Policy </a>
                </li>
                <li>
                  <a href=""> Privacy Policy</a>
                </li>
                <li>
                  <a href=""> Terms and Conditions </a>
                </li>
                <li>
                  <a href=""> Cookie Settings</a>
                </li>
                <li>
                  <a href=""> Help Center</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-3">
              <p
                style="
                  font-size: 14px;
                  font-weight: 600;
                  color: var(--color-dark-2);
                  line-height: 16.8px;
                "
              >
                Get to Know Us
              </p>
              <ul class="list-unstyled">
                <li>
                  <a href=""> Careers for Grogin </a>
                </li>
                <li>
                  <a href=""> About Grogin </a>
                </li>
                <li>
                  <a href=""> Inverstor Relations </a>
                </li>
                <li>
                  <a href=""> Grogin Devices </a>
                </li>
                <li>
                  <a href=""> Customer reviews </a>
                </li>
                <li>
                  <a href=""> Social Responsibility </a>
                </li>
                <li>
                  <a href=""> Store Locations </a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-3">
              <p
                style="
                  font-size: 14px;
                  font-weight: 600;
                  color: var(--color-dark-2);
                  line-height: 16.8px;
                "
              >
                Download our app
              </p>
              <div class="d-flex mb-2 mt-2">
                <img
                  src="assets/images/googlestore.png"
                  alt="google store"
                  width="120"
                  height="38"
                  class="me-2"
                />
                <span style="font-size: 11px; color: var(--color-dark-gray)"
                  >Download App Get -10% Discount</span
                >
              </div>
              <div class="d-flex mb-2">
                <img
                  src="assets/images/applestore.png"
                  alt="apple store"
                  width="120"
                  height="38"
                  class="me-2"
                />
                <span style="font-size: 11px; color: var(--color-dark-gray)"
                  >Download App Get -20% Discount</span
                >
              </div>
              <div class="" style="margin-top: 50px">
                <h4
                  style="
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--color-dark-2);
                    line-height: 16.8px;
                  "
                >
                  Follow us on social media:
                </h4>
                <ul class="list-unstyled d-flex social-list">
                  <li>
                    <img
                      src="assets/images/fb.png"
                      alt="facebook"
                      width="36"
                      height="36"
                    />
                  </li>
                  <li>
                    <img
                      src="assets/images/x.png"
                      alt="x"
                      width="36"
                      height="36"
                    />
                  </li>
                  <li>
                    <img
                      src="assets/images/instagram.png"
                      alt="instagram"
                      width="36"
                      height="36"
                    />
                  </li>
                  <li>
                    <img
                      src="assets/images/linkedin.png"
                      alt="linkedin"
                      width="36"
                      height="36"
                    />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="row">
        <div class="col-12 col-md-6">
          <div>
            <p style="font-size: 12px; color: var(--color-dark-gray)">
              Copyright 2025 © All right reserved.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <ul class="list-unstyled d-flex flex-md-row-reverse">
            <li class="me-2">
              <a
                href="#"
                style="font-size: 12px; color: var(--color-dark-2)"
                class="text-decoration-underline"
                >Terms and Conditions</a
              >
            </li>
            <li class="me-2">
              <a
                href="#"
                style="font-size: 12px; color: var(--color-dark-2)"
                class="text-decoration-underline"
                >Privacy Policy</a
              >
            </li>
            <li class="me-2">
              <a
                href="#"
                style="font-size: 12px; color: var(--color-dark-2)"
                class="text-decoration-underline"
                >Order Tracking</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
